# 1. 모든 파일과 폴더를 일단 무시합니다.
*

# 2. 하지만 폴더 구조는 탐색할 수 있게 허용합니다. (매우 중요)
!*/

# 3. 필요한 확장자만 예외적으로 허용합니다.
!*.v
!*.xdc
!*.tcl
!README.md
!CLAUDE.md
!.gitignore
!images/**

# 4. 이건 다시 무시
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
